{{ form_start(form, {'attr' : {'class' : 'mt-5'}}) }}
    {{ form_widget(form) }}
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary btn-b">{{ button_label|default('Ajouter') }}</button>
    </div>
{{ form_end(form) }}
