{% extends 'base.html.twig' %}

{% block title %}New Guest{% endblock %}

{% block body %}
    <h1>Ajouter un(e) invité(e)</h1>

    {{ include('guest/_form.html.twig') }}

    <a class="btn btn-outline-info" href="{{ path('app_guest_index') }}">Retour à la liste</a>
{% endblock %}
